    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>2pm, 10th October 2015</h2>
              <br/>
                <p class="lead">
                The second Vogel Street Party is fast approaching.
                This year the party celebrates two themes.
                </p>
                <h2>LITERATURE</h2> 
                <p>
                To celebrate Dunedin's creative city status as <a href="http://www.unesco.org/new/en/culture/themes/creativity/creative-cities-network/literature">UNESCO City of Literature</a>, alongside Edinburgh, Melbourne, Dublin, Prague &amp; more. 
                </p>
                <h2>LIGHT</h2> 
                <p>
                As 2015 is the <a href="http://www.light2015.org/">International Year of Light</a>, the Vogel Street Party is Dunedin's major effort to join in the world-wide celebration of light &amp; light-based technologies.
                </p>
                <p>
                The events, exhibitions and activities this year will follow these themes and showcase the talent and creativity we have hidden in our humble city.
                </p>
                <br/>
              </div>
        </div>
    </section>
