<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <small>Site by <a href="http://cartoonbeats.com">@haszari</a> with thanks to <a href="http://startbootstrap.com/">Start Bootstrap</a> and <a href="https://pages.github.com/">Github Pages</a>.</small>
            </div>
        </div>
    </div>
</footer>
